<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Изменить событие</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3" th:text="'Обновить событие ' + ${event.getNameEvent()}"></h3>
    <form class="needs-validation" novalidate style="max-width: 50vw" method="POST" th:action="@{/events/update}" th:object="${eventForm}">
        <input type="hidden" name="id"
               th:value="${event.getId()}">
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="nameEvent" th:value="${event.getNameEvent()}" type="text" class="form-control" id="nameEvent" placeholder="Название события" required>
                    <label for="nameEvent">Название события</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <div class="col-md">
                <div class="form-floating">
                    <input name="dateRealize" th:value="${event.getDateRealize()}" type="date" class="form-control" id="dateRealize" placeholder="Дата проведения" required>
                    <label for="dateRealize">Дата проведения</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <input name="place" th:value="${event.getPlace()}" type="text" class="form-control" id="place" placeholder="Место проведения" required>
                    <label for="place">Место проведения</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
            <div class="mt-3 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input name="price" th:value="${event.getPrice()}" type="number" class="form-control" id="price" placeholder="Цена" required>
                        <label for="price">Цена</label>
                        <div class="invalid-feedback">Обязательное поле для заполнения</div>
                    </div>
                </div>
            </div>
            <div class="mt-3 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input name="amountTickets" th:value="${event.getAmountTickets()}" type="number" class="form-control" id="amountTickets" placeholder="Количество билетов" required>
                        <label for="amountTickets">Количество билетов</label>
                        <div class="invalid-feedback">Обязательное поле для заполнения</div>
                    </div>
                </div>
            </div>
            <div class="col-md">
                <div class="form-floating">
                    <textarea name="description" th:value="${event.getDescription()}" th:text="${event.getDescription()}" type="text" class="form-control" id="description"
                              placeholder="Описание"></textarea>
                    <label for="description">Описание</label>
                    <div class="invalid-feedback">Обязательное поле для заполнения</div>
                </div>
            </div>
        </div>
        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary" onclick="validateForm()">Обновить</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>