<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Просмотр события</title>
</head>
<body>
<form layout:fragment="content">
    <div class="mt-3">
        <h3 th:text="'Информация о событии: ' + ${event.getNameEvent()}"></h3>
        <form class="row g-1">
            <div class="mb-2 row">
                <label for="nameEvent" class="col-sm-2 col-form-label no-border">Название:</label>
                <div class="col-sm-10">
                    <p th:text="${event.getNameEvent()}" class="form-control-plaintext" id="nameEvent">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="dateRealize" class="col-sm-2 col-form-label">Время проведения:</label>
                <div class="col-sm-10">
                    <p th:text="${event.getDateRealize()}" class="form-control-plaintext" id="dateRealize">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="place" class="col-sm-2 col-form-label">Место проведения:</label>
                <div class="col-sm-10">
                    <p th:text="${event.getPlace()}" class="form-control-plaintext" id="place">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="description" class="col-sm-2 col-form-label">Описание:</label>
                <div class="col-sm-10">
                    <p th:text="${event.getDescription()}" class="form-control-plaintext" id="description">
                </div>
            </div>
            <div class="mb-2 row">
                <label for="place" class="col-sm-2 col-form-label">Цена:</label>
                <div class="col-sm-10">
                    <p th:text="${event.getPrice()}" class="form-control-plaintext" id="price">
                </div>
            </div>
        </form>
        <div class="mt-2">
            <a th:if="${event.getAmountTickets() > 0}" sec:authorize="hasRole('USER')" class="btn btn-primary"
               th:href="'/order/ticketbuy/' + ${event.id}">Купить билет</a>
        </div>
        <div class="mt-2">
            <a th:if="${event.getAmountTickets() > 0}" sec:authorize="hasRole('USER')" class="btn btn-primary"
               th:href="'/order/ticketbooking/' + ${event.id}">Забронировать билет</a>
        </div>
        <div class="mt-2">
            <a th:if="${event.getAmountTickets() == 0 || event.getAmountTickets() == null}" sec:authorize="hasRole('USER')" class="btn btn-primary"
             th:text="'Билетов нет'"> </a>
        </div>
        <div class="mt-2">
            <a th:if="${event.getAmountTickets() > 0}" sec:authorize="isAnonymous()" class="btn btn-primary"
               th:href="'/login/' + ${event.id}">Авторизуйтесь, чтобы купить билет или забронировать</a>
        </div>
        <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
    </div>
</form>
</body>
</html>
