<!DOCTYPE html>
<html lang="ru"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}">
<head>
    <meta charset="UTF-8">
    <title>Доступные события</title>
    <script th:inline="javascript">
        let flag = [[${exception}]]; //переменная-флаг Thymeleaf
        window.onload = () => {
            if (flag) new bootstrap.Modal(document.getElementById('deleteErrorModal'), {keyboard: false}).show()
        };
    </script>
</head>
<body>
<div layout:fragment="content">
    <div>
        <hr class="hr"/>
        <h3>Поиск события</h3>
        <form method="POST" th:action="@{/events/search}" th:object="${eventSearchForm}">
            <div class="mt-0 row g-2">
                <div class="col-md">
                    <div class="form-floating">
                        <input name="nameEvent" type="text" class="form-control" id="nameEvent" placeholder="Название события">
                        <label for="nameEvent">Название события</label>
                    </div>
                </div>
                <div class="row g-2">
                    <button type="submit" class="btn btn-secondary">Найти событие</button>
                </div>
            </div>
        </form>
    </div>
    <hr class="mt-3 hr"/>
    <div class="mt-5">
        <div class="row">
            <div class="col">
                <h2>Все события</h2>
            </div>
            <div class="col">
                <a sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('USHER'))"
                   href="events/add"
                   class="btn btn-success"
                   role="button"
                   style="float: right"
                   aria-disabled="true">Добавить событие</a>
            </div>
        </div>
        <div>
            <table class="table table-hover mt-3">
                <thead>
                <tr>
                    <th scope="col">Название события</th>
                    <th scope="col">Когда состоится</th>
                    <th scope="col">Место проведения</th>
                    <th scope="col" class="col-md-5">Описание</th>
                    <th scope="col">Статус</th>
                    <th scope="col"></th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="event : ${events}">
                    <td>
                        <a class="text-link text-blue" th:href="'/events/' + ${event.getId()}" th:text="${event.getNameEvent()}"></a>
                    </td>
                    <td th:text="${event.getDateRealize()}"></td>
                    <td th:text="${event.getPlace()}"></td>
                    <td th:text="${event.getDescription()}"></td>
                    <td th:text="${event.getAmountTickets()>0 ? 'Билеты в продаже' : 'Билеты закончились'}"></td>
                    <td>
                        <div sec:authorize="isAuthenticated() && (hasRole('ADMIN') || hasRole('USHER'))">
                            <a class="btn btn-sm btn-outline-success" th:href="'/events/update/' + ${event.getId()}">Обновить</a>
                            <a th:if="${!event.isDeleted()}" class="btn btn-sm btn-outline-danger" th:href="'/events/delete/' + ${event.getId()}"
                               onclick="return confirm('Вы действительно хотите удалить событие?');">Удалить</a>
                            <a th:if="${event.isDeleted()}" class="btn btn-sm btn-outline-warning" th:href="'/events/restore/' + ${event.getId()}">Восстановить</a>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <!--Модальное окно для ошибок старт-->
        <div th:if="${exception != null && exception != ''}" class="modal fade" id="deleteErrorModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">Ошибка</h5>
                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body" th:text="${exception}">
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">OK</button>
                    </div>
                </div>
            </div>
        </div>
        <!--Модальное окно для ошибок конец-->
        <div>
            <nav aria-label="Pagination" th:if="${events.totalPages gt 0}">
                <ul class="pagination justify-content-center font-weight-bold">
                    <li class="page-item" th:classappend="${events.number eq 0} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/events?page={id}(id=${events.number lt 2 ? 1 : events.number})}"
                           aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                    <li class="page-item" th:classappend="${i eq events.number + 1} ? 'active'"
                        th:each="i : ${#numbers.sequence( 1, events.totalPages, 1)}">
                        <a class="page-link" th:href="@{/events?page={id}(id=${i})}" th:text="${i}"
                           th:title="${'Page '+ i}" data-toggle="tooltip"></a>
                    </li>
                    <li class="page-item" th:classappend="${events.number eq events.totalPages - 1} ? 'disabled'">
                        <a class="page-link"
                           th:href="@{/templates/events?page={id}(id=${events.number + 2})}"
                           aria-label="Next" title="Next Page" data-toggle="tooltip">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                </ul>
            </nav>
        </div>
    </div>
</div>
</body>
</html>