<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Забронировать билет</title>
</head>
<body>
<div layout:fragment="content">
    <h3 class="mt-3 mb-3" th:text="'Бронь билета на мерипроятие - ' + ${event.getNameEvent()}"></h3>
    <form method="POST" th:action="@{/order/ticketbooking}" th:object="${orderTicketForm}">
        <input type="hidden" name="eventId"
               th:value="${event.getId()}">

        <div class="mt-3 row g-2">
            <button type="submit" class="btn btn-primary">Забронировать</button>
            <button type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
        </div>
    </form>
</div>
</body>
</html>
