<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{layout}"
      lang="en">
<head>
    <meta charset="UTF-8">
    <title>Мои билеты</title>
</head>
<body>
<div layout:fragment="content">
    <div class="mt-5">
        <h1>Мои билеты</h1>
        <table class="table table-hover mt-3">
            <thead>
            <tr>
                <th scope="col">Событие</th>
                <th scope="col">Дата события</th>
                <th scope="col">Статус</th>
                <th scope="col">Цена</th>
                <th scope="col">Скачать билет</th>
                <th scope="col">      .        </th>

            </tr>
            </thead>
            <tbody>
   <! атрибут нейм -->  <tr th:each="order: ${orderTickets}">
                <td>
                    <span th:if="${!order.getEventDTO().isDeleted()}">
                     <a class="text-link text-blue" th:href="'/events/' + ${order.getEventDTO().getId()}" th:text="${order.getEventDTO().getNameEvent()}"></a>
                    </span>
                    <span th:unless="${!order.getEventDTO().isDeleted()}" th:text="${order.getEventDTO().getNameEvent()}"></span>
                </td>
                <td th:text="${order.getEventDTO().isDeleted()} ? 'Событие отменено' : ${order.getEventDTO().getDateRealize()}"></td>
                <td th:text="${order.getStatus() == order.getStatus().BOUGHT} ? 'Куплен' : 'Забронирован'"></td>
                <td th:text="${order.getEventDTO().getPrice()}"></td>
                <td>
                    <div sec:authorize="isAuthenticated()">
                        <a class="text-link text-blue" th:if="${order.getOnlineCopyPath() != null && !order.getEventDTO().isDeleted()}" th:href="@{|/order/download?orderId=${order.getId()}|}">
                            <span>Скачать билет</span>
                        </a>
                    </div>
                </td>
                <td>
                    <a
                            th:if="${order.getStatus() == order.getStatus().RESERVE || order.getStatus() == order.getStatus().BOUGHT && !order.getEventDTO().isDeleted()}"
                            th:href="'/order/return-ticket/' + ${order.getId()}"
                            class="btn btn-primary"
                            role="button"
                            aria-disabled="true">Вернуть билет / Отменить бронирование</a>
                </td>
       <td>
           <a
                   th:if="${order.getStatus() == order.getStatus().RESERVE && !order.getEventDTO().isDeleted()}"
                   th:href="'/order/ticketbuyfinal/' + ${order.getId()}"
                   class="btn btn-primary"
                   role="button"
                   aria-disabled="true">Купить билет</a>
       </td>
            </tr>
            </tbody>
        </table>
        <button sec:authorize="isAuthenticated() && (hasRole('ADMIN'))" type="button" class="btn btn-secondary" onclick="window.history.back()">Назад</button>
   </div>

    <nav aria-label="Pagination" th:if="${orderTickets.totalPages gt 0}">
        <ul class="pagination justify-content-center font-weight-bold">
            <li class="page-item" th:classappend="${orderTickets.number eq 0} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/orderTickets?page={id}(id=${orderTickets.number lt 2 ? 1 : orderTickets.number})}"
                   aria-label="Previous" title="Previous Page" data-toggle="tooltip">
                    <span aria-hidden="true">&laquo;</span>
                </a>
            </li>
            <li class="page-item"
                th:each="i : ${#numbers.sequence(1, orderTickets.totalPages, 1)}"
                th:classappend="${i eq orderTickets.number + 1} ? 'active'">
                <a class="page-link" th:href="@{/orderTickets?page={id}(id=${i})}" th:text="${i}"
                   th:title="${'Page '+ i}" data-toggle="tooltip"></a>
            </li>
            <li class="page-item" th:classappend="${orderTickets.number eq orderTickets.totalPages - 1} ? 'disabled'">
                <a class="page-link"
                   th:href="@{/orderTickets?page={id}(id=${orderTickets.number + 2})}"
                   aria-label="Next" title="Next Page" data-toggle="tooltip">
                    <span aria-hidden="true">&raquo;</span>
                </a>
            </li>
        </ul>
    </nav>
   </div>

</body>
</html>
