.not-enough-book {
    color: yellow;
}

.nav-link {
    color: whitesmoke !important;
}

.btn-primary {
    color: white !important;
    background-color: #2e3ed9 !important;
    border-color: #2e3ed9 !important;
}

.btn-primary:hover {
    background-color: #2e3ed9 !important;
    border-color: #2e3ed9 !important;
    color: white !important;
}

.text-link {
    text-decoration: none;
}

.text-link:hover {
    color: #f507cf;
}

.hr {
    border: 1px solid;
    color: #f507cf;
}